<h1 mat-dialog-title>{{action}} child</h1>
<form [formGroup]='form'>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Node name</mat-label>
            <input matInput formControlName="name" placeholder="Tree name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Node Continent</mat-label>
            <mat-select formControlName="continent" [(value)]="selected">
                <mat-option *ngFor="let continent of continents" [value]="continent">
                    {{continent.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button type="submit" (click)='onSaveClick()'>Save</button>
    </div>
</form>