table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .material-icons {
    font-size: 14px;
  }
  .detail {
    text-decoration: none;
    font-style: bold;
    color: white;
  }
  .detail:hover {
    color: violet;
    font-size: 15px;
  }
